In [1]:
import re
import pandas as pd

### Question 1
###### Write a Python program to replace all occurrences of a space, comma, or dot with a colon.


Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [2]:
String = 'Python Exercises, PHP exercises.'
result = re.sub(r'[ ,.]', ':', String)
print(result)

Python:Exercises::PHP:exercises:

### Question 2 
###### Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [3]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].apply(lambda x: ' '.join(re.findall(r'[a-zA-Z]+', x)))

print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

### Question 3

###### Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
def find_long_words(text):
    
    #Create A Compiled Regular Expression Pattern
    pattern = re.compile(r'\b\w{4,}\b')
    # Use The Pattern To Find All Matching Words In The Text
    long_words = pattern.findall(text)
    
    return long_words

input_text = "My Name Is Amzad Khan And i Am From Jaipur My Batch Number Is 2310."
long_words = find_long_words(input_text)
print(long_words)

['Name', 'Amzad', 'Khan', 'From', 'Jaipur', 'Batch', 'Number', '2310']

### Question 4

###### Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [5]:
def find_length(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    words =  pattern.findall(text)
    return words

input_text = "This is  Only For Testing Pupose. To Check That Our Code Is  Correct Or Not.  I Am Amzad ."
selected_words = find_length(input_text)
print(selected_words)

['This', 'Only', 'For', 'Check', 'That', 'Our', 'Code', 'Not', 'Amzad']

### Question 5


###### Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ""["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]""


Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [6]:
def remove_parentheses(strings):
    result = []
    pattern = re.compile(r'\(([^)]*)\)')

    for string in strings:
       
        cleaned_string = re.sub(pattern, r'\1', string)
        result.append(cleaned_string)
    return result

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

cleaned_text = remove_parentheses(sample_text)
for text in cleaned_text:
    print(text)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

### Question 6


###### Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

Expected Output: "["example", "hr@fliprobo", "github", "Hello", "Data"]"


Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [7]:
with open('Quetion_Six.txt', 'r') as file:
    text = file.read()

clean_text = re.sub(r'\s*\([^)]*\)', '', text)

with open('output.txt', 'w') as file:
    file.write(clean_text)
    print("Parentheses removed and saved to the file.")
    print(clean_text)

Parentheses removed and saved to the file.
 ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

### Question 7

###### Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”


Expected Output: '[‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]'

In [8]:
sample_text = "ImportanceOfRegularExpressionsInPython"
split_text = re.findall(r'[A-Z][a-z]*', sample_text)

print(split_text)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

### Question 8


###### Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [35]:
def insrt_spc(text):
    modified_text = re.sub(r'(\d)([A-Za-z])', r'\1 \2', text)
    return modified_text

# Example usage
smpl_txt = "RegularExpression1IsAn2ImportantTopic3InPython"

result = insrt_spc(smpl_txt)

print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

### Question 9

###### Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
def insrt_spc(text):

    modified_text =  re.sub(r'([A-Z0-9][a-z]*)', r' \1', text)
    return modified_text

smpl_txt = "RegularExpression1IsAn2ImportantTopic3InPython"

result = insrt_spc(smpl_txt)

print(result)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

### Question 10
###### Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.


Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [11]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

data = pd.DataFrame(df)

In [12]:
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [13]:
# Extract the first 6 letters of each country
df = data['first_five_letters'] = data['Country'].str[:6]

# Display the DataFrame with the new column
print(df)

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: Country, Length: 158, dtype: object

In [14]:
final_df = pd.DataFrame(df)
final_df

    Country
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154   Benin
155   Syria
156  Burund
157    Togo

[158 rows x 1 columns]

### Question 11

###### Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

In [15]:
def string(input_string):
    # Define the regular expression pattern
    pattern = r'^[a-zA-Z0-9_]+$'
    
    # Use re.match() to check if the input string matches the pattern
    if re.match(pattern, input_string):
        return True
    else:
        return False

# Example usage
input_string= "Hello_World123"
result = string(input_string)
print(result)

True

### Question 12

###### Write a Python program where a string will start with a specific number

In [16]:
sample_text = "123abc"
specific_number = 123

pattern = r'^' + str(specific_number) + r'.*'
match = re.match(pattern, sample_text)

if match:
    print("The string starts with the specific number.")
else:
    print("The string does not have !.")

The string starts with the specific number.

### Question 13

###### Write a Python program to remove leading zeros from an IP address

In [17]:
# Input IP address with leading zeros
ip_add = "00184.0168.01.001"

# Remove leading zeros using regular expressions
ip_clean = re.sub(r'\b0+(\d+)', r'\1', ip_add)

# Print the cleaned IP address
print(ip_clean)

184.168.1.1

### Question 14

###### Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [18]:
with open("Sample_txt.txt", "r") as file:
    text = file.read()

# Use regular expressions to extract the date string
pattern = r'\b[A-Z][a-z]+\s\d+(?:st|nd|rd|th)\s\d{4}\b'
matches = re.findall(pattern, text)

print(matches)

['August 15th 1947']

### Question 15

###### Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [19]:
text = 'The quick brown fox jumps over the lazy dog.'
words = ['fox', 'dog',]
pattern = '|'.join([re.escape(word) for word in words])

matches = re.findall(pattern, text)
for match in matches:
    print(f"Found: {match}")
    
#horse is not is text

Found: fox
Found: dog

### Question 16

###### Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [20]:

text = 'The quick brown fox jumps over the lazy dog.'
words = 'fox'

match = re.search(words, text)

if match:
    start, end = match.span()
    print(f"'{words}' found at position {start}-{end} in the text.")
else:
    print(f"'{words}' not found in the text.")

'fox' found at position 16-19 in the text.

### Question 17


###### Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [21]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

### Question 18

###### Write a Python program to find the occurrence and position of the substrings within a string.

In [22]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
matches = re.finditer(pattern, text)

for match in matches:
    start = match.start()
    end = match.end()
    occurrence = match.group()
    print(f"Substring '{occurrence}' found at position {start}-{end}")

Substring 'exercises' found at position 7-16
Substring 'exercises' found at position 22-31
Substring 'exercises' found at position 36-45

### Question 19

###### Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [23]:
from datetime import datetime

input_date = '2023-10-31'
# Parse the input date
date_obj = datetime.strptime(input_date, '%Y-%m-%d')

# Format the date in 'dd-mm-yyyy' format
output_date = date_obj.strftime('%d-%m-%Y')

print(output_date)

31-10-2023

### Question 20
###### Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [24]:
def find_dec_nmbr(text):
    # Compile regex pattern
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = pattern.findall(text)  # Use re.findall() to find all matching decimal numbers

    return matches

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

# Find decimal numbers with precision of 1 or 2
decimal_numbers = find_dec_nmbr(sample_text)

print(decimal_numbers)

['01.12', '145.8', '3.01', '27.25', '0.25']

### Question 21

###### Write a Python program to separate and print the numbers and their position of a given string.

In [25]:
import re

# Sample text
text = "Why did 7 eat 9 ? Because you’re supposed to have 3 squared meals a day."

# Use re.finditer() to find numbers and their positions
for match in re.finditer(r'\d+', text):
    number = match.group()
    start, end = match.start(), match.end()
    print(f"Number: {number}, Position: {start}-{end}")

Number: 7, Position: 8-9
Number: 9, Position: 14-15
Number: 3, Position: 50-51

### Question 22

###### Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [26]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
value = re.findall(r'\d+', text)

# Find the maximum numeric value
num_value = max(map(int, value))

# Print the maximum numeric value
print(num_value)

950

### Question 23

###### Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [27]:
def insert_spaces(text):
    # Use re.sub() to insert spaces between capital words
    result = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)
    return result

sample_text = "RegularExpressionIsAnImportantTopicInPython"

# Insert spaces between capital words
output_text = insert_spaces(sample_text)

print(output_text)

Regular Expression Is An Important Topic In Python

### Question 24

###### Python regex to find sequences of one upper case letter followed by lower case letters

In [28]:
text = 'Python Regex To Find Sequences Of One Upper Case Letter Followed By Lower Case Letters'

# Use re.findall() 
matches = re.findall(r'[A-Z][a-z]+', text)

# Print the matches
print(matches)

['Python', 'Regex', 'To', 'Find', 'Sequences', 'Of', 'One', 'Upper', 'Case', 'Letter', 'Followed', 'By', 'Lower', 'Case', 'Letters']

### Question 25

###### Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [29]:
text = "Hello hello world world"

# Use re.sub() with a regular expression to remove continuous duplicate words
cleaned_text = re.sub(r'\b(\w+)\s+\1\b', r'\1', text, flags=re.IGNORECASE)

# Print the cleaned text
print(cleaned_text)

Hello world

### Question 26

###### Write a python program using RegEx to accept string ending with alphanumeric character.

In [30]:
string = "Amzad0786"

pattern = r'^.*[a-zA-Z0-9]$'

#  checking  if the input string matches the pattern
if re.match(pattern,string):
    print(f"'{string}' ends with an alphanumeric character.")
else:
    print(f"'{string}' not end with an alphanumeric character.")

'Amzad0786' ends with an alphanumeric character.

### Question 27

###### Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [31]:
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

pattern = r'#\w+'


hashtags = re.findall(pattern, text)
    
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28

###### Write a python program using RegEx to remove <U+..> like symbols

###### Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.


Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [32]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r'<U\+[\w\d]+>'
cleaned_text = re.sub(pattern, '', text)
print(cleaned_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

### Question 29

###### Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [33]:
with open('Sample_text.txt', 'r') as file:
    text = file.read()

# Define a regular expression pattern to match dates in the format DD-MM-YYYY
date_pattern = r'\d{2}-\d{2}-\d{4}'

dates = re.findall(date_pattern, text)

for date in dates:
    print(date)

12-09-1992
15-12-1999

# Question 30

###### Create a function in python to remove all words from a string of length between 2 and 4.
###### The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [34]:
def remove_length(text):
    
    pattern = re.compile(r'\b\w{2,4}\b')
    cleaned_text = pattern.sub('', text)
    return cleaned_text


sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
cleaned_text = remove_length(sample_text)

print(cleaned_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.